@model int

@{
    var statuses = new[]
    {
        new { text = "Registered", className = "bg-warning" },
        new { text = "Performing", className = "bg-info" },
        new { text = "Suspended", className = "bg-danger" },
        new { text = "Completed", className = "bg-success" },
    };

    <span class="@statuses[Model].className">@statuses[Model].text</span>
}