<ul class="tree">
    <li>
        <a href="@Url.Action("Details", "Task", new { id = 42 })" class="@Html.IsActive("Task", "Details", 42)">Test task</a>
    </li>
    <li>
        <span title="Toggle tree" class="text-success glyphicon glyphicon-chevron-right"></span>&nbsp;
        <a href="@Url.Action("Details", "Task", new { id = 69 })" class="@Html.IsActive("Task", "Details", 69)">Test task</a>
        <ul class="tree folded">
            <li><a href="/task/5">Subtask for #4: Test task</a></li>
            <li><a href="/task/17">one more subtask</a></li>
        </ul>
    </li>
</ul>